<div class="post-content container d-flex justify-content-center">
    <a class="botao-formulario-inscricoes" href="{{ site.data[site.ano].infos.inscricoes_formulario }}" target="_blank">
        <div class="row justify-content-md-center">
            <div class="col-4">
            <!-- <img src="{{ site.url }}/img/list-check-solid-full.svg"> -->
                <img src="{{ site.baseurl }}/img/semapinho/semacurso.png" alt="Semapinho minicursos" />
            </div>
            <div class="col-8">
            {{ include.texto }}
            </div>
        </div>
    </a>
</div>