/*
Fontes
*/
@font-face {
  font-family: blackhansans;
  src: url(./fonts/BlackHanSans-Regular.ttf);
}

/*
    CAROUSEL DA PAGINA DE PROGRAMACAO
*/
.carousel-item h5 {
  margin: 0 auto;
  text-align: center;
}

.carousel-item .btn {
  min-width: 2.5rem;
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
}

.carousel-item .d-flex {
  gap: 1rem;
}

/* 
    EVENTOS DA PAGINA DE PROGRAMACAO
*/
.evento-comer {
    background-color: #515151;
    color: white;
}
.evento-minicurso {
    background-color: white;
    color: black;
}
.evento-cerimonia {
    background-color: white;
    color: black;
}
.evento-palestra {
    background-color: white;
    color: black;
}
.evento-coloquinho {
    background-color: white;
    color: black;
}
.evento-credenciamento {
    background-color: white;
    color: black;
}
.evento-estudante {
    background-color: white;
    color: black;
}


/*
Cards para atividades
*/
.atividades {
    display: grid;
    row-gap: 20px;
}
.atividade:nth-of-type(odd) {
    background-color: rgb(255, 203, 255); 
}
.atividade {
    padding: 10px;
}
.atividade-foto {
    display: flex;
    align-items: center;
    justify-content: center;
}
.atividade-titulo {
    padding-bottom: 8px;
    font-size: larger;
}
.atividade-resumo {
    font-size: small;
}

/*******************************
PAGINA INICIAL
*******************************/
.inicio {
}
.inicio h1 {
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    font-size: 9vh;
    padding-top: 40%;
    padding-bottom: 3vh;
    text-align: right;
    font-family: blackhansans; 
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.435);
}
.inicio-capa p {
    color: white;
    font-weight: bolder;
    text-align: right;
}
.inicio-capa {
    position: relative;
    background-color: #aaa;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://pbs.twimg.com/media/FBhWLV-WEAcwXqu?format=jpg&name=4096x4096');
    background-size: cover;
    background-position: center;
}
.inicio-capa-descricao {
    font-size: 2.3vh;
}
.inicio-capa-data {
    padding-top: 5%;
    font-size: 3.3vh;
}
.inicio-capa-local {
    font-size: 3vh;
}
.inicio-informacoes {
    padding: 30px 0px;
}
.card-icon {
    font-size: 4rem;
    color: #0d6efd; /* cor azul do Bootstrap, pode trocar */
}
.card:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    cursor: pointer;
}
.inicio-informacoes-cartoes {
    padding-top: 30px;
}

/*
menu
*/
.offcanvas-title {
    font-size: 5vw;
}

.offcanvas-body .navbar-nav {
    margin-left: 0px;
    gap: 10px;
}

.offcanvas-body .navbar-nav .nav-item {
    font-size: larger;
    padding: 5px;
    margin: 0px;
}

.offcanvas-body .navbar-nav .nav-item:hover {
    background-color: rgba(21,21,21,0.5)
}

.nav-item:hover a {
    text-decoration: none;
}