<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main aria-label="Content">
      <div class="inicio">
        <div class="inicio-capa">
          <div class="container">
            <h1>Semana da<br>Aplicada</h1>
            <div class="inicio-capa-texto">
              <p class="inicio-capa-descricao">
                {{ site.data[site.ano].infos.descricao_capa }}
              </p>
              <p class="inicio-capa-data">
                <i class="fa-regular fa-calendar-days"></i> {{ site.data[site.ano].infos.data }}
              </p>
              <p class="inicio-capa-local">
                <i class="fa-solid fa-location-dot"></i> {{ site.data[site.ano].infos.local }}
              </p>
            </div>
          </div>
        </div>

        <div class="inicio-informacoes">

          <div class="container">
            <div class="row inicio-sobre">
              <div class="col-12 col-sm-8 col-md-8 col-lg-10">
                <h2>Sobre a SeMAP</h2>
                <p>
                  A SeMAP surgiu como uma iniciativa de alunas de pós-graduação, motivadas em promover um ambiente de troca científica sobre temas variados de Matemática Aplicada. O evento contará com plenárias, palestras curtas, minicursos e sessões de pôsteres, visando englobar temas das seguintes áreas: análise numérica, otimização, modelagem matemática, sistemas dinâmicos e equações diferenciais e aplicações. O objetivo é a divulgação de temas e áreas de pesquisa em Matemática Aplicada, bem como sua interdisciplinaridade e interação com a indústria, tendo como público-alvo alunos de graduação e pós-graduação.
                </p>
              </div>
              <div class="col-12 col-sm-4 col-md-4 col-lg-2">
                <img src="{{ site.baseurl }}/img/semapinho/semapinho_pintado.png">
              </div>
            </div>

            <div class="row text-center inicio-informacoes-cartoes">
              <div class="col-md-3 mb-3">
                <a href="{{ site.baseurl }}/minicursos" class="text-decoration-none text-dark">
                  <div class="card p-4 d-flex flex-column align-items-center h-100">
                    <i class="fas fa-solid fa-graduation-cap card-icon mb-3"></i>
                    <h5>Minicursos oferecidos</h5>
                  </div>
                </a>
              </div>
  
              <div class="col-md-3 mb-3">
                <a href="{{ site.baseurl }}/palestras" class="text-decoration-none text-dark">
                  <div class="card p-4 d-flex flex-column align-items-center h-100">
                    <i class="fas fa-solid fa-chalkboard-user card-icon mb-3"></i>
                    <h5>Palestras</h5>
                  </div>
                </a>
              </div>

              <div class="col-md-3 mb-3">
                <a href="{{ site.baseurl }}/posteres" class="text-decoration-none text-dark">
                  <div class="card p-4 d-flex flex-column align-items-center h-100">
                    <i class="fas fa-solid fa-file-signature card-icon mb-3"></i>
                    <h5>Sessão de Pôsteres</h5>
                  </div>
                </a>
              </div>

              <div class="col-md-3 mb-3">
                <a href="{{ site.baseurl }}/programacao" class="text-decoration-none text-dark">
                  <div class="card p-4 d-flex flex-column align-items-center h-100">
                    <i class="fas fa-regular fa-calendar-days card-icon mb-3"></i>
                    <h5>Programação</h5>
                  </div>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

  {%- include scripts.html -%}
</html>