<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main aria-label="Content">
      <div class="inicio">
        <div class="inicio-capa">
          <div class="container">
            <h1>Semana da<br>Aplicada</h1>
            <div class="inicio-capa-texto">
              <p class="inicio-capa-descricao">
                {{ site.data[site.ano].infos.descricao_capa }}
              </p>
              <p class="inicio-capa-data">
                <i class="fa-regular fa-calendar-days"></i> {{ site.data[site.ano].infos.data }}
              </p>
              <p class="inicio-capa-local">
                <i class="fa-solid fa-location-dot"></i> {{ site.data[site.ano].infos.local }}
              </p>
            </div>
          </div>
        </div>

        <div class="inicio-informacoes">

          <div class="container">
            <div class="row inicio-sobre">
              <div class="col-12 col-sm-8 col-md-8 col-lg-10">
                <h2>Sobre a SeMAP</h2>
                <p>
                  A SeMAP surgiu como uma iniciativa de alunas de pós-graduação, motivadas em promover um ambiente de troca científica sobre temas variados de Matemática Aplicada. O evento contará com plenárias, palestras curtas, minicursos e sessões de pôsteres, visando englobar temas das seguintes áreas: análise numérica, otimização, modelagem matemática, sistemas dinâmicos e equações diferenciais e aplicações. O objetivo é a divulgação de temas e áreas de pesquisa em Matemática Aplicada, bem como sua interdisciplinaridade e interação com a indústria, tendo como público-alvo alunos de graduação e pós-graduação.
                </p>
              </div>
              <div class="col-12 col-sm-4 col-md-4 col-lg-2">
                <img src="{{ site.baseurl }}/img/semapinho/semapinho_pintado.png">
              </div>
            </div>

            <hr>

            <div class="row text-center row-gap-3">
              <div class="col-12">
                <h2>Como participar?</h2>
              </div>
              <div class="col-md-6 mb-6">
                <div class="card card-home p-4 d-flex flex-column align-items-center h-100">
                  <h4>Quero assistir 🤓</h4>
                  <p>
                    Para participar das atividades da semana, inscreva-se através <a class="text-decoration-none" href="{{ site.data[site.ano].infos.inscricoes_formulario }}">deste formulário</a>.
                    <br>
                    As inscrições são gratuitas e o evento é aberto a todos!
                  </p>
                </div>
              </div>
              <div class="col-md-6 mb-6">
                <div class="card card-home p-4 d-flex flex-column align-items-center h-100">
                  <h4>Quero apresentar 😎</h4>
                  <p>
                    O prazo para submissões de trabalhos está encerrado :(
                    <br>
                    Os resultados serão divulgados em abril.
                  </p>
                </div>
              </div>
              <div class="col-12">
                <div class="card card-home p-4 d-flex flex-column align-items-center h-100">
                  <div class="inicio-encomendas">
                    <div>
                      <h4>Também temos camiseta e caneca personalizados! 🦆</h4>
                      <p>
                        Adquira através <a class="text-decoration-none" href="{{ site.data[site.ano].infos.encomendas_formulario }}" target="_blank">deste formulário</a> até o dia 21/04!
                        <br>
                        As entregas serão feitas, a princípio, durante a SeMAP.
                      </p>
                    </div>
                    <img style="max-width: 400px; width: 100%;" src="{{ site.baseurl }}/img/{{ site.ano }}/camisetas.jpg">
                  </div>
                </div>
              </div>
            </div>

            <hr>

            <div class="row text-center inicio-informacoes-cartoes">
              <div class="col-12">
                <h2>Confira nossa programação!</h2>
              </div>
              <div class="col-md-3 mb-3">
                <a href="{{ site.baseurl }}/minicursos" class="text-decoration-none text-dark">
                  <div class="card card-home p-4 d-flex flex-column align-items-center h-100">
                    <i class="fas fa-solid fa-graduation-cap card-icon mb-3"></i>
                    <h5>Minicursos oferecidos</h5>
                  </div>
                </a>
              </div>
  
              <div class="col-md-3 mb-3">
                <a href="{{ site.baseurl }}/palestras" class="text-decoration-none text-dark">
                  <div class="card card-home p-4 d-flex flex-column align-items-center h-100">
                    <i class="fas fa-solid fa-chalkboard-user card-icon mb-3"></i>
                    <h5>Palestras</h5>
                  </div>
                </a>
              </div>

              <div class="col-md-3 mb-3">
                <a href="{{ site.baseurl }}/posteres" class="text-decoration-none text-dark">
                  <div class="card card-home p-4 d-flex flex-column align-items-center h-100">
                    <i class="fas fa-solid fa-file-signature card-icon mb-3"></i>
                    <h5>Sessão de Pôsteres</h5>
                  </div>
                </a>
              </div>

              <div class="col-md-3 mb-3">
                <a href="{{ site.baseurl }}/programacao" class="text-decoration-none text-dark">
                  <div class="card card-home p-4 d-flex flex-column align-items-center h-100">
                    <i class="fas fa-regular fa-calendar-days card-icon mb-3"></i>
                    <h5>Programação</h5>
                  </div>
                </a>
              </div>
            </div>

            <hr>

            <div class="row row-gap-3 justify-content-md-center inicio-apoio">
              <div class="col-12">
                <h2 class="text-center">Apoio</h2>
                <!-- <br> -->
                <!-- ime, sbmac, camat, coloquinho, colóquio -->
              </div>
              <!-- IME-USP -->
              <div class="col-12 col-md-3 parceria">
                <a href="https://ime.usp.br/">
                  <img src="{{ site.baseurl }}/img/logos/IME_Horizontal_completa_padrao.png">
                </a>
                <!-- <img src="{{ site.baseurl }}/img/logos/IME_horizontal_simplificada_preta.svg"> -->
              </div>
              <!-- Matemateca -->
              <div class="col-12 col-md-3 parceria">
                <a href="https://matemateca.ime.usp.br/">
                  <img src="{{ site.baseurl }}/img/logos/matemateca.png">
                </a>
              </div>
              <!-- Capes -->
              <div class="col-12 col-md-3 parceria">
                <img src="{{ site.baseurl }}/img/logos/capes.png">
              </div>
              <!-- SBMAC -->
              <div class="col-12 col-md-3 parceria">
                <a href="https://www.sbmac.org.br/">
                  <img src="{{ site.baseurl }}/img/logos/SBMAC_logo.png">
                </a>
              </div>
              <!-- CAMat -->
              <!-- <div class="col-2">
                <img src="{{ site.baseurl }}/img/logos/SBMAC_logo.png">
              </div> -->
            </div>
          </div>

        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

  {%- include scripts.html -%}
</html>